
@using IXAge_IHM.Server.Controllers
@using IXAge_IHM.Shared
@using IXAge_IHM.Shared.Pairing
@using Syncfusion.Blazor.Buttons
@using System.Text.Json
@using System.Net.Http
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.PivotView
@inject HttpClient Http

        <div class="control-section">
            @*<SfButton IsPrimary="true" @onclick="ReverseTeam">Reverse Team </SfButton>*@
            <div class="example-content">
                <br />
                <SfPivotView TValue="TeamEvals" Width="1500" Height="300" ShowFieldList="true" AllowConditionalFormatting=true>
                    <PivotViewDataSourceSettings TValue="TeamEvals" DataSource="@Evaluations" >
                        <PivotViewColumns>
                            <PivotViewColumn Name="Ennemy" Caption="Ennemy"></PivotViewColumn>
                        </PivotViewColumns>
                        <PivotViewRows>
                            <PivotViewRow Name="Player" Caption="Player"></PivotViewRow>
                        </PivotViewRows>
                        <PivotViewValues>
                            <PivotViewValue Name="Eval" Caption="Eval"></PivotViewValue>
                        </PivotViewValues>
                        <PivotViewFormatSettings>
                            <PivotViewFormatSetting Name="Eval" Format="N0" UseGrouping=true></PivotViewFormatSetting>
                        </PivotViewFormatSettings>
                        <PivotViewConditionalFormatSettings>
                            <PivotViewConditionalFormatSetting Measure="Eval" Conditions="Condition.Between" Value1=15 Value2="20">
                                <PivotViewStyle BackgroundColor="#00D8F6" Color="black" FontFamily="Tahoma" FontSize="12px">
                                </PivotViewStyle>
                            </PivotViewConditionalFormatSetting>
                            <PivotViewConditionalFormatSetting Measure="Eval" Conditions="Condition.Between" Value1=12 Value2="14">
                                <PivotViewStyle BackgroundColor="#0FDF00" Color="black" FontFamily="Tahoma" FontSize="12px">
                                </PivotViewStyle>
                            </PivotViewConditionalFormatSetting>
                            <PivotViewConditionalFormatSetting Measure="Eval" Conditions="Condition.Between" Value1=9 Value2="11">
                                <PivotViewStyle BackgroundColor="#ECFF03" Color="black" FontFamily="Tahoma" FontSize="12px">
                                </PivotViewStyle>
                            </PivotViewConditionalFormatSetting>
                            <PivotViewConditionalFormatSetting Measure="Eval" Conditions="Condition.Between" Value1=7 Value2="8">
                                <PivotViewStyle BackgroundColor="#FF9803" Color="black" FontFamily="Tahoma" FontSize="12px">
                                </PivotViewStyle>
                            </PivotViewConditionalFormatSetting>
                            <PivotViewConditionalFormatSetting Measure="Eval" Conditions="Condition.Between" Value1=4 Value2="6">
                                <PivotViewStyle BackgroundColor="#FF0303" Color="black" FontFamily="Tahoma" FontSize="12px">
                                </PivotViewStyle>
                            </PivotViewConditionalFormatSetting>
                            <PivotViewConditionalFormatSetting Measure="Eval" Conditions="Condition.Between" Value1=0 Value2="3">
                                <PivotViewStyle BackgroundColor="#F103FF" Color="black" FontFamily="Tahoma" FontSize="12px">
                                </PivotViewStyle>
                            </PivotViewConditionalFormatSetting>
                        </PivotViewConditionalFormatSettings>
                    </PivotViewDataSourceSettings>
                    <PivotViewGridSettings ColumnWidth="120"></PivotViewGridSettings>
                    <PivotViewCellEditSettings AllowEditing="true" Mode=EditMode.Batch></PivotViewCellEditSettings>
                </SfPivotView>
            </div>
        </div>
@code {
    
   [Parameter]
    public List<TeamEvals> Evaluations { get; set; } = new List<TeamEvals>();
}
